---
layout: base-layout.ejs
title: Assignment Tracker
---
<div class="jumbotron">
  <h1 class="display-4">Hello, user!</h1>
  <p class="lead">
    We are here to help you for your assignment's submissions, assignment's plagiarism checks, MCQ based test, etc.
  </p>

  <hr class="my-4"/>

  <p>
    What are you waiting for! Just click on the button given below or scroll down.
  </p>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>