---
layout: base-layout.ejs
title: Assignment Tracker
---
<div class="jumbotron">
  <h1 class="display-4">Hello, user!</h1>
  <p class="lead">
    We are here to help you for your assignment's submissions, assignment's plagiarism checks, MCQ based test, etc.
  </p>

  <hr class="my-4"/>

  <p>
    Our aim is to develop a service for teachers and students for active interaction, to make submission of assignments easy along with automatic plagiarism check, and to conduct practice quizzes and mock tests in the most convenient way possible.
  </p>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#features" role="button">Features</a>
    <a class="btn btn-primary btn-lg" href="#services" role="button">Services</a>
    <a class="btn btn-primary btn-lg" href="#account" role="button">Login / Register</a>
    <a class="btn btn-primary btn-lg" href="#contact-us" role="button">Contact Us</a>
  </p>
</div>

<br>
<h1 class="home-page-headings" id="features">Features</h1>

<div class="features">
  <div class="feature-n">
    <div class="feature-img">
      <img src="assets/temp-img.jpg">
    </div>
    <div class="feature-desc">
      <h4>Bewitching UI</h4>
      <p>
        Our site has a very simple UI.
      </p>
    </div>
  </div>
  <div class="feature-n">
    <div class="feature-img">
      <img src="assets/temp-img.jpg">
    </div>
    <div class="feature-desc">
      <h4>Seamless Workflow</h4>
      <p>
        You can work seamlessly accross the devices.
      </p>
    </div>
  </div>
  <div class="feature-n">
    <div class="feature-img">
      <img src="assets/temp-img.jpg">
    </div>
    <div class="feature-desc">
      <h4>Secure</h4>
      <p>
        We care about your security and privacy.
      </p>
    </div>
  </div>
</div>

<br>
<h1 class="home-page-headings" id="services">Services</h1>

<div class="features">
  <div class="feature-n">
    <div class="feature-img">
      <img src="assets/temp-img.jpg">
    </div>
    <div class="feature-desc">
      <h4>Give Assignments</h4>
      <p>
        You can give assignments and check plagiarism.
      </p>
    </div>
  </div>
  <div class="feature-n">
    <div class="feature-img">
      <img src="assets/temp-img.jpg">
    </div>
    <div class="feature-desc">
      <h4>Take Tests</h4>
      <p>
        You can take MCQ based tests.
      </p>
    </div>
  </div>
  <div class="feature-n">
    <div class="feature-img">
      <img src="assets/temp-img.jpg">
    </div>
    <div class="feature-desc">
      <h4>Track Activities</h4>
      <p>
        Track activities of your assignments, grades, etc.
      </p>
    </div>
  </div>
</div>

<br>
<h1 class="home-page-headings" id="account">What are you waiting for !</h1>
<br>
<h4 class="account-lr">Already have an account. <a href="login">Login here.</a></h4>
<h4 class="account-lr">Don't have an account. <a href="register">Register here.</a></h4>

<br><br>
<h1 class="home-page-headings" id="contact-us">Contact Us</h1>

<br>
<form method="POST" action="#">
  <div class="contact-us">
    <input class="contact-us-inp-type-text" type="text" name="name" placeholder="Name" maxlength="100" required>
      <br><br>
    <input class="contact-us-inp-type-email" type="email" name="email" placeholder="Email Address" maxlength="200" required>
    <br><br>
    <textarea class="contact-us-inp-type-textarea" name="msg" placeholder="Message" maxlength="2000" rows="6" required></textarea>
    <br><br>
    <input class="contact-us-inp-type-submit" type="submit" name="submit" value="Submit">
  </div>
</form>

<br><br>