---
layout: base-layout.ejs
title: Assignment Tracker
---
<div class="jumbotron">
  <h1 class="display-4">Hello, user!</h1>
  <p class="lead">
    We are here to help you for your assignment's submissions, assignment's plagiarism checks, MCQ based test, etc.
  </p>

  <hr class="my-4"/>

  <p>
    What are you waiting for! Just click on the button given below or scroll down.
  </p>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<h1 class="carousel_heading">Our...</h1>
<br>

<div class="carousel">
  <div class="ouraim">
    <h4>Aim</h4>
    To develop a service for teachers and students for active interaction, to make submission of assignments easy along with automatic plagiarism check, and to conduct practice quizzes and mock tests in the most convenient way possible.
  </div>
  <div class="ourservices">
    <h4>Services</h4>
    We strive to provide the best facilities to our users. We provide facilities to teachers to make assignments and tests from home and students to submit those assignments and tests from home.
  </div>
</div>

<br><br>